extends layout

block content
  h1.text-center.font-bold.text-2xl.mt-6 You got Rickrolled!
  // Embed YouTube Video
  .flex.justify-center
    iframe(
      width="800"
      height="450"
      src="https://www.youtube.com/embed/dQw4w9WgXcQ?autoplay=1&mute=1"  
      frameborder="0"
      allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen
    )
  
  // Description and link to about page
  p.text-center.mt-4
    | Click 
    a(href="/about", class="text-blue-600 hover:underline font-bold") here 
    | to find out more about the developers.
